@model WebApplication1.Models.QRcodeViewModel

<h2>QRcode</h2>
<form id="CreateForm" method="Post">
    @Html.AntiForgeryToken()
    <div>輸入網址</div>
    <input name="url" />
    <button type="button" onclick="sendUrl()">送出</button>
</form>

<img src="" id="QRcode" alt="QRcode" style="width:30%;" @(string.IsNullOrEmpty(Model.url) ? "hidden" : "")>

@section scripts
{
    <script>
        function sendUrl() {
            $.ajax({
                url: '@Url.Action("CreateUrlEncodeQRCode", "QRcode")',
                type: "POST",
                data: $("#CreateForm").serialize(),
            }).done(function (data) {
                console.log(data);
                if (data.success) {
                    $("#QRcode").attr("src", data.Url);
                    $("#QRcode").removeAttr("hidden");
                }
            });
        }
    </script>
}